<!-- Editable table -->
<div class="card mt-5">
<h3 class="card-header text-center font-weight-bold text-uppercase py-4">List of Video Idea</h3>
<div class="card-body">
<div id="table" class="table-editable">
<span class="table-add float-right mb-3 mr-2"><a href="/ideas/add" class="text-success"><i class="fas fa-plus fa-2x"
aria-hidden="true"></i></a></span>
<table class="table table-bordered table-responsive-md table-striped text-center">
  {{#if ideas}}
<tr class="bg-primary font-weight-bold">
<th class="text-center">Title</th>
<th class="text-center">Details</th>
<th class="text-center">Edit</th>
<th class="text-center">Delete</th>

</tr>
{{#each ideas}}
<tr>
<td class="pt-3-half" contenteditable="true">{{title}}</td>
<td class="pt-3-half" contenteditable="true">{{details}}</td>

<td>
<span class="table-remove"><a href="/ideas/edit/{{id}}" type="button" class="btn btn-primary btn-rounded btn-sm my-0">Edit</a></span>
</td><td>
<form action="/ideas/{{id}}?_method=DELETE" method="POST">
  <input type="hidden" name="_method" value="DELETE">
<button type="submit" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
</form>
</td>
</tr>


{{/each}}
{{else}}
<tr class="text-center font-weight-bold text-uppercase py-4  bg-info">
<td class="pt-3-half" contenteditable="true"><strong>No Video Idea Available</strong></td>
</tr>
{{/if}}
<!-- This is our clonable table line -->
</table>
</div>
</div>
</div>
<!-- Editable table -->